$bg-image: '/assets/hero_image.jpg';

.img-style {
    position: relative;
    overflow: hidden;
}

.img-hero {
    background: url($bg-image) no-repeat;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 90%;
}
.welcome-container {
    box-shadow: -1.5rem 1.5rem 0px var(--secondary-color);
}
.auth-wrapper {
    box-shadow: -1.5rem 1.5rem 0px var(--secondary-color);
}
.auth-page {
    font: 1rem var(--font-body);
}
